<!DOCTYPE html>
<html lang="en">
   <%- include('../Partials/header.ejs') %>
<body>
   <%- include('../Partials/nav.ejs') %>
  

   <div class="blog-details"> 
    <h2 class="blog-details-title"> <%= blog.title %> </h2>
     <div class="blog-details-content">
     <p> <%= blog.body %>  </p>  
     </div>
     <a class="delete-content" data-id="<%= blog._id %> "> <img src="/trash-can (1).png" alt="Delete"> </a>

   </div>

    <script>
      
     const deleteBlog = document.querySelector("a.delete-content");

       deleteBlog.addEventListener('click',(e)=>{
        const url = `/blogs/${deleteBlog.dataset.id}`;

          fetch(url,{method:'DELETE'})
          .then((response)=> response.json())
          .then((data) => window.location.href = data.redirect)
          .catch((err)=>console.log(err));
       });
      
           
       
    </script>
</body>
</html>